## .NET
bin/
obj/
out/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.vscode/launch.json
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
[Cc]overage*/
*.coverage
*.coveragexml
*.received.*

## Rider
.idea/
*.DotSettings.user

## Logs
logs/
*.log
**/Logs/

## Secrets
appsettings.Production.json
appsettings.Local.json
appsettings.*.local.json
secrets.json
.env
.env.*

## OS
Thumbs.db
.DS_Store

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/

## Misc
*.bak
*.tmp
*.orig
